/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2020, 3:32:45 PM
    Author     : BEC
*/

img {
    padding:5px;
    border:12px #1c87c9;
}