/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2020, 3:32:45 PM
    Author     : BEC
*/

html {
    background: #eee;   
    color: #654321;
}

body {
   
}


#title{
    font-family: Arial-black;
    font-size: 25px;

}

p {
    line-height: 1.6em;
    margin-bottom: 16px;
    background: #C49792;
    margin: 30px;
    font-size: 18px;
}

#introPara{
    line-height: 2em;
    background: #C49792;
    margin-bottom:  30px;
    font-size: 20px;    
}

img {
    padding:30px;
    border:12px #9D91A3;
    border-style: dashed;
    background-color: #eee;
    float: left; 
    margin-right: 2em;
    margin-bottom: 2em;
}

#mainArea {

    width: 66%;
    margin: 1% auto;
    border: 100px solid #AD91A3;
    padding: 30px;
    background: #C49792;
    
}

#profilePic{
    padding:30px;
    border:12px;
    background-color: #eee;
    border-style: none;
    float: left; 
    margin-right: 2em;
    margin-bottom: 2em;
}

.sectionTitle {

    font-family: Arial;
    font-size: 22px;
    margin: 30px;
    background: #C49792;

}

.sectionContent {

    background: #C49792;
    color: #654321;
    
}

.subSectionTitle {
    font-family: Arial;
    font-size: 20px;
    margin: 30px;
    background: #C49792;
    font-style: italic;

}



#intro {
    
    
}