/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2020, 3:32:45 PM
    Author     : BEC
*/

img {
    padding:5px;
    border:12px #9D91A3;
    border-style: dashed;
    background-color: #eee;
    float: left;
}

#mainArea {

    width: 66%;
    margin: 10%;
    border: 30px solid #AD91A3;
    padding: 30px;
    
}

.sectionTitle {

    border: 30px;
    font-family: Arial;
    font-size: 14px;

}

.sectionContent {

    border: 30px;
}

.subSectionTitle {
    font-family: Arial;
    font-size: 12px;

}